<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Reset Password </title>
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: #444444;
            color: #fff;
        }

        button {
            background-color: black;
            width: 20%;
            color: white;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=password],
        input[type=number] {
            width: 50%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid orange;
            box-sizing: border-box;
            outline: none;
        }

        button:hover {
            opacity: 0.7;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            margin: 10px 5px;
        }


        .container {
            padding: 25px;
            background-color: rgb(24, 82, 176);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <center>
        <h1> BLOGIFY </h1>
        <h3> Password Reset Form </h3>
    </center>
    <form action='/api/user/password/reset/<%= token %>' method="POST" onsubmit="return validateForm()">
        <div class="container">
            <label for="newPassword">New Password : </label>
            <input type="password" placeholder="New Password" name="newPassword" id="newPassword" required>
            <label for="confirmPassword">Confirm Password : </label>
            <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
            <button type="submit">Change Password</button>
            <form style="border: none;">
                <button type="submit" onclick="history.back()">Go Back!</button>
            </form>
        </div>
    </form>

    <script>
        function validateForm() {
            const newPassword = document.getElementById("newPassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;
            if (newPassword.length < 6 || confirmPassword.length < 6) {
                alert("Both password fields must be at least 6 characters long.");
                return false;
            }
            if (newPassword !== confirmPassword) {
                alert("Passwords should be same.");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>